@import "./variables.scss";

@mixin base-text-styles(
  $color,
  $backgroundColor: transparent,
  $property: null,
  $value: null
) {
  @if $backgroundColor != transparent {
    background-color: $backgroundColor;
  }

  @if ($property != null) {
    #{$property}: $value;
  }

  font-size: $base-font-size;
  margin-bottom: $margin-bottom-font;
  padding: 8rem;
  background-color: aqua;
  border: 1rem solid black;
  color: $color;
}

.text {
  @include base-text-styles(green);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.text2 {
  @include base-text-styles(rgb(128, 66, 0));
  margin-bottom: $margin-bottom-font;
}

.text3 {
  @include base-text-styles(rgb(0, 79, 128), yellow, border, 0.2rem solid black);
  font-family: cursive;
}

.text4 {
  @include base-text-styles(rgb(100, 128, 0));
  font-family: monospace;
}

.text5 {
  @include base-text-styles(rgb(128, 17, 0));
  font-family: "Courier New", Courier, monospace;
}
